@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<img src="~/css/images/p1.png" />
*@
<div class="center_content">
    <div class="oferta">
        <img src="~/css/images/p1.png" width="165" height="113" border="0" class="oferta_img" alt="" />
        <div class="oferta_details">
            <div class="oferta_title">Hoa đám cưới rực rỡ</div>
            <div class="oferta_text"> Được mệnh danh là nữ hoàng của các loài hoa, biểu tượng của một tình yêu nồng nàn và mãnh liệt. Hoa hồng lộng lẫy nhưng lại không phô trương, mang đến một không gian tiệc cưới lãng mạn và nồng ấm, tạo dấu ấn đặc biệt cho sự kiện trọng đại của mình.  </div>
            <a href="" class="prod_buy">details</a>
        </div>
    </div>
     <div class="oferta">
        <img src="images/p1.png" width="165" height="113" border="0" class="oferta_img" alt="" />
        <div class="oferta_details">
            <div class="oferta_title">Bó hoa cho lễ tình nhân</div>
            <div class="oferta_text"> Được mệnh danh là nữ hoàng của các loài hoa, biểu tượng của một tình yêu nồng nàn và mãnh liệt. Hoa hồng lộng lẫy nhưng lại không phô trương, mang đến một không gian tiệc cưới lãng mạn và nồng ấm, tạo dấu ấn đặc biệt cho sự kiện trọng đại của mình.  </div>
            <a href="" class="prod_buy">details</a>
        </div>
    </div>
     <div class="oferta">
        <img src="images/p1.png" width="165" height="113" border="0" class="oferta_img" alt="" />
        <div class="oferta_details">
            <div class="oferta_title">Hoa đám cưới rực rỡ</div>
            <div class="oferta_text"> Được mệnh danh là nữ hoàng của các loài hoa, biểu tượng của một tình yêu nồng nàn và mãnh liệt. Hoa hồng lộng lẫy nhưng lại không phô trương, mang đến một không gian tiệc cưới lãng mạn và nồng ấm, tạo dấu ấn đặc biệt cho sự kiện trọng đại của mình.  </div>
            <a href="" class="prod_buy">details</a>
        </div>
    </div>
     <div class="oferta">
        <img src="images/p1.png" width="165" height="113" border="0" class="oferta_img" alt="" />
        <div class="oferta_details">
            <div class="oferta_title">Hoa đám cưới rực rỡ</div>
            <div class="oferta_text"> Được mệnh danh là nữ hoàng của các loài hoa, biểu tượng của một tình yêu nồng nàn và mãnh liệt. Hoa hồng lộng lẫy nhưng lại không phô trương, mang đến một không gian tiệc cưới lãng mạn và nồng ấm, tạo dấu ấn đặc biệt cho sự kiện trọng đại của mình.  </div>
            <a href="" class="prod_buy">details</a>
        </div>
    </div>
     <div class="oferta">
        <img src="images/p1.png" width="165" height="113" border="0" class="oferta_img" alt="" />
        <div class="oferta_details">
            <div class="oferta_title">Hoa đám cưới rực rỡ</div>
            <div class="oferta_text"> Được mệnh danh là nữ hoàng của các loài hoa, biểu tượng của một tình yêu nồng nàn và mãnh liệt. Hoa hồng lộng lẫy nhưng lại không phô trương, mang đến một không gian tiệc cưới lãng mạn và nồng ấm, tạo dấu ấn đặc biệt cho sự kiện trọng đại của mình.  </div>
            <a href="" class="prod_buy">details</a>
        </div>
    </div>
   
   
</div>