@{
    ViewBag.Title = "Trang Chủ";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!-- services section start -->
<div class="services_section layout_padding">
    <div class="container">
        <h1 class="services_taital">Flowers </h1>
        <p class="services_text">There are many kind of Flowers in the world, and Ca is a special.</p> <br></br>
        <p>Hãy đến với cửa hàng của Cá để thấy hạnh phúc mỗi ngày.</p>
        <div class="services_section_2">
            <div class="row">
                <div class="col-md-4">
                    <div><img src="~/images/images/img-1.png" class="services_img"></div>
                    <div class="btn_main"><a href="#">Hoa cưới</a></div>
                </div>
                <div class="col-md-4">
                    <div><img src="~/images/images/img-2.png" class="services_img"></div>
                    <div class="btn_main active"><a href="#">Làm quà</a></div>
                </div>
                <div class="col-md-4">
                    <div><img src="~/images/images/img-3.png" class="services_img"></div>
                    <div class="btn_main"><a href="#">Hoa tang</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- services section end -->
<!-- about section start -->
<div class="about_section layout_padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="about_taital_main">
                    <h1 class="about_taital">About Us</h1>
                    <p class="about_text">
                        Nhìn những đứa trẻ mồ côi nằm trên ghế đá, nhìn những cụ già đi xin ăn, nhìn người dân miền trung đang chịu những cơn bão, người thì bị chết, gia đình li tán của cải, vật chất mất mát… Chúng ta cảm thấy chạnh lòng biết bao!
                        Tình yêu thương là quan tâm đến người khác, cho dù chưa từng gặp mặt, thậm chí chỉ là đi ngang qua. Và rồi, vì tình yêu thương, chúng ta sẵn sàng giúp đỡ, hiến thân xây dựng những mái ấm tình thương, đùm bọc những trẻ em mồ côi, cho những cụ già neo đơn có nơi nương tựa.
                    </p>
                    <div class="readmore_bt"><a href="#">Read More</a></div>
                </div>
            </div>
            <div class="col-md-6 padding_right_0">
                <div><img src="~/images/images/about-img.png" class="about_img"></div>
            </div>
        </div>
    </div>
</div>
<div class="client_section layout_padding">
    <div class="container">
        <h1 class="client_taital">Hoa mà Cá thích</h1>
        <div class="client_section_2">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="client_main">
                            <div class="box_left">
                                <p class="lorem_text">Cẩm tú cầu: mang ý nghĩa mưu cầu hạnh phúc, cầu cho người nhận có được cuộc sống luôn vui vẻ, bình an. Có thể thấy nhân nhiều dịp thì loài hoa này được xuất hiện khắp nơi như đám cưới, cầu hôn, sinh nhật, lễ chúc mừng, lễ kỷ niệm,...</p>
                            </div>
                            <div class="box_right">
                                <div class="client_taital_left">
                                    <div class="client_img"><img src="~/images/images/client-img.png"></div>
                                    <div class="quick_icon"><img src="~/images/images/quick-icon.png"></div>
                                </div>
                                <div class="client_taital_right">
                                    <h4 class="client_name">Hoa cẩm tú cầu</h4>
                                    <p class="customer_text">~Cua Cá~</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="client_main">
                            <div class="box_left">
                                <p class="lorem_text">Cây sen đá: là biểu tượng cho ý chí kiên cường, phấn đấu vươn lên trong cuộc sống bởi sức sống mãnh liệt của nó - thích nghi với mọi loại khí hậu, mọi địa hình và sống quanh năm và khi lá rụng có thể nảy chồi từ đó và mọc lên cây mới.</p>
                            </div>
                            <div class="box_right">
                                <div class="client_taital_left">
                                    <div class="client_img"><img src="~/images/images/client-img.png"></div>
                                    <div class="quick_icon"><img src="~/images/images/quick-icon.png"></div>
                                </div>
                                <div class="client_taital_right">
                                    <h4 class="client_name">Cây sen đá</h4>
                                    <p class="customer_text">~Cua Cá~</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="client_main">
                            <div class="box_left">
                                <p class="lorem_text">Hoa hướng dương: được xem như loài có sức sống mãnh liệt, dù ở hoàn cảnh nào chúng cũng hướng về ánh sáng qua đó thể hiện niềm tin, sự lạc quan, sức sống mãnh liệt vươn lên trong cuộc sống.</p>
                            </div>
                            <div class="box_right">
                                <div class="client_taital_left">
                                    <div class="client_img"><img src="~/images/images/client-img.png"></div>
                                    <div class="quick_icon"><img src="~/images/images/quick-icon.png"></div>
                                </div>
                                <div class="client_taital_right">
                                    <h4 class="client_name">Hoa hướng dương</h4>
                                    <p class="customer_text">~Cua Cá~</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- client section start -->
<!-- choose section start -->
<div class="choose_section layout_padding">
    <div class="container">
        <h1 class="choose_taital">Why Choose Us</h1>
        <p class="choose_text">Vì sao Cua  Cá xứng đáng: chúng tôi đặt tiêu chí phục vụ khách hàng lên hàng đầu. Toàn bộ đội ngũ nhân viên của chúng tôi thấu hiểu một điều rằng thành công của chúng tôi nằm trong những giá trị mà chúng tôi đem lại cho khách hàng. Chính vì lẽ đó chúng tôi luôn cam kết mang lại cho khách hàng những giá trị nhiều hơn sự mong đợi. </p>
        <div class="read_bt_1"><a href="#">Read More</a></div>
        <div class="newsletter_box">
            <h1 class="let_text">Let Start Talk with Us</h1>
            <div class="getquote_bt"><a href="#">Get A Quote</a></div>
        </div>
    </div>
</div>
<!-- choose section end -->

